{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Skillifyi{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'users/css/home.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'users/images/logo-favicon.ico' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    {% block extra_js %}{% endblock %}
</body>
</html> 